#Contenedor
{
    display: flex;
}
#Dinamic
{
    width: 50%;
    float: right;
    
}
#DinamicSection
{
    background: black;
    display:flex;
}

#warpcontent
{
    width: 100%;
    height: 800px;
    background: white;
    display: flex;
    overflow: auto;
}

#warpIz
{
width: 30%;
height: 100%;
background: black;
}
#warpDr
{
width: 70%;
height: 100%;
background: black;
}
.opciones
{
    width: 33.3%;
    margin: 10 auto;
    background: black;
    border: 4px solid white;
}
#contenido
{
    width: 70%;
    margin: 5 auto;
    background: black;
    border: 4px solid white;
    display: flex;
}
#SOne,#FOne
{
border: 2px solid black;
}
#FOne
{
width: 30%;
background: red;

}
#SOne
{
width: 80%;
background: black;
display: flex;
}

.showmore
{
    font-size: 9px;
}
.showmore>a:hover
{
    text-decoration: underline;
}

#elementosemergentes
{
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100%;
  background:rgba(115, 115, 115, 0.3);
}
body
{
    position: relative;
}
#MidScreen   /*No esta del todo bien pero funciona*/
{
    height: 33.3%;
    width: 33.3%;
    margin: 0 auto;
    margin-top: 10%;
    
}