#Formulario
{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(133, 133, 133, 0.6);
    overflow: hidden;
    box-shadow: 0 0 3px grey;
    border-top: 4px solid red;
}

#Formulario input[type="text"],
#Formulario input[type="password"]
{
border: 1px solid black;
border-radius: 2px;
padding: 16px;
width: 100%;
display: block;
margin-bottom: 20px;
font-family: "Roboto",Arial, Helvetica, sans-serif;
font-size: 1em;
color: #141938;
}

#Formulario input[type="text"]:focus,
#Formulario input[type="password"]:focus
{
    border: 2px solid #3F51B1;
    padding: 15px;
}

.alert
{
   padding: 1em;
   color: #fff;
   border-radius: 2px;
   margin-bottom: 20px;
   font-size: 14px; 
}

.alert.error
{
background: #F2DEDE;
border: 1px solid #A94442;
color: #A94442;
}
.alert.success
{
background: #4CAF50;
}

.submit,#Formulario input[type="submit"]
{
    padding: 15px;
    background: #ED572A;
    color: #E1E9FA;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: none;
    float: right;
    cursor: pointer;
}

.submit,#Formulario input[type="submit"]:hover
{
    background: #E64A19;
}

#formcontainer
{
    width: 100%;
    
}